---
import Section from '@/components/Section.astro'

import { work } from '@cv'
---

<Section title='Experiencia laboral'>
  <ul>
    {
      work.map(({ name, startDate, endDate, position, summary, url }) => {
        const months = [
          'Enero',
          'Febrero',
          'Marzo',
          'Abril',
          'Mayo',
          'Junio',
          'Julio',
          'Agosto',
          'Septiembre',
          'Octubre',
          'Noviembre',
          'Diciembre'
        ]
        const startDateObj = new Date(startDate)
        const startYear = startDateObj.getFullYear()
        const startMonth = startDateObj.getMonth()
        const endDateObj = endDate ? new Date(endDate) : null
        const endYear = endDateObj ? endDateObj.getFullYear() : 'Actualmente'
        const endMonth = endDateObj ? endDateObj.getMonth() : ''
        const period = `${months[startMonth]} ${startYear} - ${endMonth ? months[endMonth] : ''} ${endYear}`
        return (
          <li>
            <article>
              <header>
                <div>
                  <a href={url} target='_blank' rel='noopener norreferer'>
                    <h3>{name}</h3>
                  </a>
                  <h4>{position}</h4>
                </div>

                <time>{period}</time>
              </header>
              <footer>
                <p>{summary}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article a {
    font-weight: 500;
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h3 {
    font-size: 1rem;
  }

  article h4 {
    font-weight: 400;
    color: #222;
    margin: 5px 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    width: 100%;
    text-align: right;
  }

  @media print {
    article a:hover {
      text-decoration: none;
    }
  }
</style>
